@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto", sans-serif;
}
img{
    max-width:100%;
}
:root{
    --main-bg: #013243;
    --text:#86bfd3;
}
.container .first-article{
    background-color:var(--main-bg);
    padding:3rem 1.5rem 0;
    text-align:center;
}
.container .first-article h1{
    color:#fff;
    font-size:2rem;
    margin-bottom:0.625rem;
}
.container .first-article p{
    color:var(--text);
    font-size:1rem;
}
.container .second-article{
    padding:3rem 1.5rem;
    background-color:#fff;
}
.container .second-article h2{
    font-size:2rem;
    margin-bottom:1rem;
}
.container .second-article form{
    display:grid;
    gap:1rem;
}
.container .second-article form label{
    display:block;
    font-size:1rem;
    font-weight:bold;
    margin-bottom:0.3rem;
}
.container .second-article form input:not(input[type="checkbox"]){
    font-size:1rem ;
    width:100%;
    padding:1rem 1.5rem;
    border:1px solid #999;
    border-radius:0.3rem;
    outline:none;
}
.container .second-article form small a{
    font-weight:bold;
    color:var(--main-bg);
}
.container .second-article form button{
    padding:1rem 1.5rem;
    background-color:var(--main-bg);
    outline:none;
    border:none;
    border-radius:0.3rem;
    color:#fff;
    font-size:1rem;
    font-weight:4 00;
}
.attribution{ 
    font-size:12px; 
    text-align:center; 
}
.attribution a{ 
    color:hsl(228, 45%, 44%); 
}

@media(min-width: 768px){
    body{
        background:url(./Assets/Background.png) no-repeat center/cover;
        /* background-repeat:no-repeat;
        background-size:cover; */
        min-height:100vh;
    }
    .container{
        max-width:500px;
        margin:5rem auto;
    }
    .container .second-article{
        border-radius:0 0 0.5rem 0.5rem;
        border:1px solid #999;
    }
}

@media(min-width: 1024px){
    .container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        max-width:900px;
    }
    .container .first-article{
        border-radius:0.5rem 0 0 0.5rem;
        border:1px solid #999;
    }
    .container .second-article{
        display:grid;
        place-content:center;
        border-radius:0 0.5rem 0.5rem 0;
        border:1px solid #999;
    }
}